.bg_container {
  min-height: 1061px;
  max-height: 1157px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_container {
  display: flex;
  flex-direction: column;
}

.buttom_container {
  display: flex;
  flex-direction: column;
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 1024px) {
  .bg_container {
    height: 1024px;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important ;
    margin-top: 3rem;
  }

  .buttom_container {
    order: 1;
  }

  .top_container {
    order: 2;
    margin-left: 2rem;
  }
}

/* Styles for tablets in landscape mode and small laptops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .bg_container {
    height: 1024px;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important ;
    margin-top: 3rem;
  }

  .buttom_container {
    order: 1;
  }
  .top_container {
    order: 2;
    margin-left: 2rem;
  }
}
